<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Scrapping</title>
</head>
<body>
<div class="container">
    <div class="row m-5">
        <div class="col-md-4">
        <form method="POST" action="/">
            {% csrf_token %}
        <input class="form-control" name="page" type="text" placeholder="enter your link">
            </div>
    <div class="col-md-2">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
    <div class="col-md-6">
        <button class="btn btn-warning" type="submit">Clear</button>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
    {% for i in data_values %}
  <tbody>
    <tr>

        <td>{{i.id}}</td>
      <td>{{i.strname}}</td>
      <td>{{i.address}}</td>

    </tr>
  </tbody>
    {% endfor %}


    </div>
    </div>
</div>




</table>
</body>
</html>